name: Deprecated Java CI - Maven

on:
  push:
    branches: ['**']
  pull_request:
    branches: ['**']

jobs:
  deprecation-notice:
    runs-on: ubuntu-latest

    steps:
      - name: Log deprecation notice
        run: |
          echo "This workflow is deprecated. Please refer to the new workflow configuration in '.github/workflows/ci-maven.yml'."
